.h0{height:2vh;}
.h1{height:12vh;}
.h2{height:21.9vh;}
.h3{height:36.6vh;}
.h4{height:48.1vh;}
.h5{height:56vh;}
.h6{height:64vh;}
.h7{height:73.5vh;}
.h8{height:81.7vh;}
.h9{height:91vh;}

.w9{width:94vw;}
.w8{width:83vw;}
.w7{width:70vw;}
.w6{width:67vw;}
.w5{width:54.1vw;}
.w4{width:48.8vw;}
.w3{width:39.4vw;}
.w2{width:27vw;}
.w1{width:19.8vw;}
.w0{width:7.2vw;}

.hp1{height:10%;}
.hp2{height:20%;}
.hp3{height:30%;}
.hp4{height:40%;}
.hp5{height:50%;}
.hp6{height:60%;}
.hp7{height:70%;}
.hp8{height:80%;}
.hp9{height:90%;}
.hp10{height:100%;}

.wp1{width:10%;}
.wp2{width:20%;}
.wp3{width:30%;}
.wp4{width:40%;}
.wp5{width:50%;}
.wp6{width:60%;}
.wp7{width:70%;}
.wp8{width:80%;}
.wp9{width:90%;}
.wp10{width:100%;}

.w1min{width:25vmin;}
.w2min{width:50vmin;}
.w3min{width:75vmin;}

.w1max{width:25vmax;}
.w2max{width:50vmax;}
.w3max{width:75vmax;}

.h1min{height:25vmin;}
.h2min{height:50vmin;}
.h3min{height:75vmin;}

.h1max{height:25vmax;}
.h2max{height:50vmax;}
.h3max{height:75vmax;}

.h-a{height:auto;}
.w-a{width:auto;}

.h-mc{height: max-content;}
.w-mc{width: max-content;}
.h_mc{height: min-content;}
.w_mc{width: min-content;}