/* color */
.cw{color: #cccccc;}
.cy{color: #ccc555;}
.cr{color: #cc1111;}
.cbe{color: #555ccc;}
.cbk{color: #131313;}
/* background-color */
.cbgw{background-color: #cccccc;}
.cbgy{background-color: #ccc555;}
.cbgr{background-color: #cc1111;}
.cbgbe{background-color: #555ccc;}
.cbgbk{background-color: #131313;}
.cbgt{background-color: transparent;}
.cbgu{background-color: unset;}
/* border */
.tbr{border-top:1px solid #131313}
.bbr{border-bottom:1px solid #131313}
.lbr{border-left:1px solid #131313}
.rbr{border-right:1px solid #131313}
/* border 1vh */
.tbr_1{border-top:1vh solid #131313}
.bbr_1{border-bottom:1vh solid #131313}
.lbr_1{border-left:1vh solid #131313}
.rbr_1{border-right:1vh solid #131313}
/* border 2vh */
.tbr_2{border-top:2vh solid #131313}
.bbr_2{border-bottom:2vh solid #131313}
.lbr_2{border-left:2vh solid #131313}
.rbr_2{border-right:2vh solid #131313}
/* border 3vh */
.tbr_3{border-top:3vh solid #131313}
.bbr_3{border-bottom:3vh solid #131313}
.lbr_3{border-left:3vh solid #131313}
.rbr_3{border-right:3vh solid #131313}
/* border 4vh */
.tbr_4{border-top:4vh solid #131313}
.bbr_4{border-bottom:4vh solid #131313}
.lbr_4{border-left:4vh solid #131313}
.rbr_4{border-right:4vh solid #131313}
/* border 5vh */
.tbr_5{border-top:5vh solid #131313}
.bbr_5{border-bottom:5vh solid #131313}
.lbr_5{border-left:5vh solid #131313}
.rbr_5{border-right:5vh solid #131313}
/* border-start */
.br_s{border-block-start:1px solid #131313}
.br_s1{border-block-start:1vh solid #131313}
.br_s2{border-block-start:2vh solid #131313}
.br_s3{border-block-start:3vh solid #131313}
/* border-end */
.br_e{border-block-end: 1px solid #131313}
.br_e1{border-block-end:1vh solid #131313}
.br_e2{border-block-end:2vh solid #131313}
.br_e3{border-block-end:3vh solid #131313}
/* border-color */
.br_cw{border-color: #cccccc}
.br_cy{border-color: #ccc555}
.br_cr{border-color: #cc1111}
.br_cbe{border-color: #555ccc}
.br_cbk{border-color: #131313}
/* border-style */
.br_solid{border-style: solid}
.br_double{border-style: double}
.br_dotted{border-style: dotted}
/* border-radius */
.br_r{border-radius: 50%}
.br_r4{border-radius: 40%}
.br_r3{border-radius: 30%}
.br_r2{border-radius: 20%}
.br_r1{border-radius: 10%}
.br_rv01{border-radius: 0.1vh}
.br_rv02{border-radius: 0.2vh}
.br_rv03{border-radius: 0.3vh}
.br_rv04{border-radius: 0.4vh}
.br_rv05{border-radius: 0.5vh}
.br_rv1{border-radius: 1vh}
.br_rv2{border-radius: 2vh}
.br_rv3{border-radius: 3vh}
.br_rv4{border-radius: 4vh}
.br_rv5{border-radius: 5vh}
/* border-top-left */
.br_rv_tl01{border-top-left-radius: 0.1vh}
.br_rv_tl02{border-top-left-radius: 0.2vh}
.br_rv_tl03{border-top-left-radius: 0.3vh}
.br_rv_tl04{border-top-left-radius: 0.4vh}
.br_rv_tl05{border-top-left-radius: 0.5vh}
.br_rv_tl1{border-top-left-radius: 1vh}
.br_rv_tl2{border-top-left-radius: 2vh}
.br_rv_tl3{border-top-left-radius: 3vh}
.br_rv_tl4{border-top-left-radius: 4vh}
.br_rv_tl5{border-top-left-radius: 5vh}
/* border-top-right */
.br_rv_tr01{border-top-right-radius: 0.1vh}
.br_rv_tr02{border-top-right-radius: 0.2vh}
.br_rv_tr03{border-top-right-radius: 0.3vh}
.br_rv_tr04{border-top-right-radius: 0.4vh}
.br_rv_tr05{border-top-right-radius: 0.5vh}
.br_rv_tr1{border-top-right-radius: 1vh}
.br_rv_tr2{border-top-right-radius: 2vh}
.br_rv_tr3{border-top-right-radius: 3vh}
.br_rv_tr4{border-top-right-radius: 4vh}
.br_rv_tr5{border-top-right-radius: 5vh}
/* border-bottom-left */
.br_rv_bl01{border-bottom-left-radius: 0.1vh}
.br_rv_bl02{border-bottom-left-radius: 0.2vh}
.br_rv_bl03{border-bottom-left-radius: 0.3vh}
.br_rv_bl04{border-bottom-left-radius: 0.4vh}
.br_rv_bl05{border-bottom-left-radius: 0.5vh}
.br_rv_bl1{border-bottom-left-radius: 1vh}
.br_rv_bl2{border-bottom-left-radius: 2vh}
.br_rv_bl3{border-bottom-left-radius: 3vh}
.br_rv_bl4{border-bottom-left-radius: 4vh}
.br_rv_bl5{border-bottom-left-radius: 5vh}
/* border-bottom-right */
.br_rv_br01{border-bottom-right-radius: 0.1vh}
.br_rv_br02{border-bottom-right-radius: 0.2vh}
.br_rv_br03{border-bottom-right-radius: 0.3vh}
.br_rv_br04{border-bottom-right-radius: 0.4vh}
.br_rv_br05{border-bottom-right-radius: 0.5vh}
.br_rv_br1{border-bottom-right-radius: 1vh}
.br_rv_br2{border-bottom-right-radius: 2vh}
.br_rv_br3{border-bottom-right-radius: 3vh}
.br_rv_br4{border-bottom-right-radius: 4vh}
.br_rv_br5{border-bottom-right-radius: 5vh}
/* border-bottom */
.br_rv_b01{border-bottom-left-radius: 0.1vh; border-bottom-right-radius: 0.1vh}
.br_rv_b02{border-bottom-left-radius: 0.2vh; border-bottom-right-radius: 0.2vh}
.br_rv_b03{border-bottom-left-radius: 0.3vh; border-bottom-right-radius: 0.3vh}
.br_rv_b04{border-bottom-left-radius: 0.4vh; border-bottom-right-radius: 0.4vh}
.br_rv_b05{border-bottom-left-radius: 0.5vh; border-bottom-right-radius: 0.5vh}
.br_rv_b1{border-bottom-left-radius: 1vh; border-bottom-right-radius: 1vh}
.br_rv_b2{border-bottom-left-radius: 2vh; border-bottom-right-radius: 2vh}
.br_rv_b3{border-bottom-left-radius: 3vh; border-bottom-right-radius: 3vh}
.br_rv_b4{border-bottom-left-radius: 4vh; border-bottom-right-radius: 4vh}
.br_rv_b5{border-bottom-left-radius: 5vh; border-bottom-right-radius: 5vh}
/* border-top */
.br_rv_t01{border-top-left-radius: 0.1vh; border-top-right-radius: 0.1vh}
.br_rv_t02{border-top-left-radius: 0.2vh; border-top-right-radius: 0.2vh}
.br_rv_t03{border-top-left-radius: 0.3vh; border-top-right-radius: 0.3vh}
.br_rv_t04{border-top-left-radius: 0.4vh; border-top-right-radius: 0.4vh}
.br_rv_t05{border-top-left-radius: 0.5vh; border-top-right-radius: 0.5vh}
.br_rv_t1{border-top-left-radius: 1vh; border-top-right-radius: 1vh}
.br_rv_t2{border-top-left-radius: 2vh; border-top-right-radius: 2vh}
.br_rv_t3{border-top-left-radius: 3vh; border-top-right-radius: 3vh}
.br_rv_t4{border-top-left-radius: 4vh; border-top-right-radius: 4vh}
.br_rv_t5{border-top-left-radius: 5vh; border-top-right-radius: 5vh}
/* border-right */
.br_rv_r01{border-bottom-right-radius: 0.1vh; border-top-right-radius: 0.1vh}
.br_rv_r02{border-bottom-right-radius: 0.2vh; border-top-right-radius: 0.2vh}
.br_rv_r03{border-bottom-right-radius: 0.3vh; border-top-right-radius: 0.3vh}
.br_rv_r04{border-bottom-right-radius: 0.4vh; border-top-right-radius: 0.4vh}
.br_rv_r05{border-bottom-right-radius: 0.5vh; border-top-right-radius: 0.5vh}
.br_rv_r1{border-bottom-right-radius: 1vh; border-top-right-radius: 1vh}
.br_rv_r2{border-bottom-right-radius: 2vh; border-top-right-radius: 2vh}
.br_rv_r3{border-bottom-right-radius: 3vh; border-top-right-radius: 3vh}
.br_rv_r4{border-bottom-right-radius: 4vh; border-top-right-radius: 4vh}
.br_rv_r5{border-bottom-right-radius: 5vh; border-top-right-radius: 5vh}
/* border-left */
.br_rv_l01{border-bottom-left-radius: 0.1vh; border-top-left-radius: 0.1vh}
.br_rv_l02{border-bottom-left-radius: 0.2vh; border-top-left-radius: 0.2vh}
.br_rv_l03{border-bottom-left-radius: 0.3vh; border-top-left-radius: 0.3vh}
.br_rv_l04{border-bottom-left-radius: 0.4vh; border-top-left-radius: 0.4vh}
.br_rv_l05{border-bottom-left-radius: 0.5vh; border-top-left-radius: 0.5vh}
.br_rv_l1{border-bottom-left-radius: 1vh; border-top-left-radius: 1vh}
.br_rv_l2{border-bottom-left-radius: 2vh; border-top-left-radius: 2vh}
.br_rv_l3{border-bottom-left-radius: 3vh; border-top-left-radius: 3vh}
.br_rv_l4{border-bottom-left-radius: 4vh; border-top-left-radius: 4vh}
.br_rv_l5{border-bottom-left-radius: 5vh; border-top-left-radius: 5vh}
/* outline */
.no-out{outline: none}
.out{outline: 1vh solid #131313}
.outy{outline: 1vh solid #ccc555}
.outr{outline: 1vh solid #cc1111}
.outb{outline: 1vh solid #555ccc}
.outw{outline: 1vh solid #cccccc}
/* outline double */
.out_d{outline: 1vh double #131313}
.outy_d{outline: 1vh double #ccc555}
.outr_d{outline: 1vh double #cc1111}
.outb_d{outline: 1vh double #555ccc}
.outw_d{outline: 1vh double #cccccc}
/* outline dotted */
.out_dd{outline: 1vh dotted #131313}
.outy_dd{outline: 1vh dotted #ccc555}
.outr_dd{outline: 1vh dotted #cc1111}
.outb_dd{outline: 1vh dotted #555ccc}
.outw_dd{outline: 1vh dotted #cccccc}
/* display */
.bk{display: block}
.fx{display: flex}
.ibk{display: inline-block}
.ifx{display: inline-flex}
.te{display: table}
.it{display: inline-table}
.t_cell{display: table-cell}
.t_row{display: table-row}
.t_rowg{display: table-row-group}
.t_col{display: table-column}
.t_colg{display: table-column-group}
.t_caption{display: table-caption}
.t_footerg{display: table-footer-group}
.t_headerg{display: table-header-group}
.ruby{display: ruby}
.rubyb{display: ruby-base}
.rubybc{display: ruby-base-container}
.rubyt{display: ruby-text}
.rubytc{display: ruby-text-container}

.contents{display: contents}
.grid{display: grid}
.ilist{display: list-item}
.inrun{display: run-in}

.no{display: none;}
.dis_unset{display: unset}
/* float */
.float_l{float: left}
.float_r{float: right}
.float_n{float: none}
.float_e{float: inline-end}
.float_s{float: inline-start}
/* flex */
.fxd{flex-direction: row}
.fxd_r{flex-direction: row-reverse}
.fxdc{flex-direction: column}
.fxdc_r{flex-direction: column-reverse}
.fxfr{flex-flow: row}
.fxfrr{flex-flow: row-reverse}
.fxfc{flex-flow: column}
.fxfcr{flex-flow: column-reverse}
.fxfnw{flex-flow: nowrap}
.fxfw{flex-flow: wrap}
.fxfwr{flex-flow: wrap-reverse}
.fxb{flex-basis: auto}
.fxb_c{flex-basis: content}
.fxb_f{flex-basis: fill}
.fxb_mxc{flex-basis: max-content}
.fxb_mnc{flex-basis: min-content}
.fxb_fc{flex-basis: fit-content}
.fxb1{flex-basis: 10%}
.fxb2{flex-basis: 20%}
.fxb3{flex-basis: 30%}
.fxb4{flex-basis: 40%}
.fxb5{flex-basis: 50%}
.fxb6{flex-basis: 60%}
.fxb7{flex-basis: 70%}
.fxb8{flex-basis: 80%}
.fxb9{flex-basis: 90%}
.fxbw1{flex-basis: 10vw}
.fxbw2{flex-basis: 20vw}
.fxbw3{flex-basis: 30vw}
.fxbw4{flex-basis: 40vw}
.fxbw5{flex-basis: 50vw}
.fxbw6{flex-basis: 60vw}
.fxbw7{flex-basis: 70vw}
.fxbw8{flex-basis: 80vw}
.fxbw9{flex-basis: 90vw}
.fxbh1{flex-basis: 10vh}
.fxbh2{flex-basis: 20vh}
.fxbh3{flex-basis: 30vh}
.fxbh4{flex-basis: 40vh}
.fxbh5{flex-basis: 50vh}
.fxbh6{flex-basis: 60vh}
.fxbh7{flex-basis: 70vh}
.fxbh8{flex-basis: 80vh}
.fxbh9{flex-basis: 90vh}
/* flex position */
.justcon{justify-content: space-around}
.justcon_b{justify-content: space-between}
.justcon_e{justify-content: space-evenly}
.justcon_l{justify-content: left}
.justcon_r{justify-content: right}
.justcon_s{justify-content: start}
.justcon_sh{justify-content: stretch}
.ialign{align-items: center}
.ialign_b{align-items: baseline}
.ialign_e{align-items: flex-end}
.ialign_s{align-items: flex-start}
.salign{align-self: center}
.salign_b{align-self: baseline}
.salign_a{align-self: auto}
.calign{align-content: center}
.calign_b{align-content: space-between}
.calign_a{align-content: space-around}
.calign_s{align-content: flex-start}
.calign_e{align-content: flex-end}
/* text */
.ta{text-align: justify}
.tac{text-align: center}
.tar{text-align: right}
.tal{text-align: left}
/* cursor */
.curp{cursor: pointer;}
.curn{cursor: none;}
.curna{cursor: not-allowed;}
/* overflow */
.of{overflow: auto}
.of_h{overflow: hidden}
.of_s{overflow: scroll}
.of_v{overflow: visible}
/* opacity */
.opa0{opacity: 0}
.opa05{opacity: 0.05;}
.opa1{opacity: 0.1;}
.opa15{opacity: 0.15;}
.opa2{opacity: 0.2;}
.opa25{opacity: 0.25;}
.opa3{opacity: 0.3;}
.opa35{opacity: 0.35;}
.opa4{opacity: 0.4;}
.opa45{opacity: 0.45;}
.opa5{opacity: 0.5;}
.opa55{opacity: 0.55;}
.opa6{opacity: 0.6;}
.opa65{opacity: 0.65;}
.opa7{opacity: 0.7;}
.opa75{opacity: 0.75;}
.opa8{opacity: 0.8;}
.opa85{opacity: 0.85;}
.opa9{opacity: 0.9;}
.opa95{opacity: 0.95;}
.opa{opacity: 1}
/* -------user-------- */
.fx-m{display: flex; justify-content: space-around; align-items: center;}
.fx-j{display: flex; justify-content: space-between; align-items: center;}

.f-s{font-family: 'Times New Roman', Times, serif;font-size: 19pt; font-weight: 300;}
.f-ss{font-family: 'Times New Roman', Times, serif;font-size: 12pt; font-weight: 300;}
.f-sb{font-family: 'Times New Roman', Times, serif;font-size: 33pt; font-weight: 300;}

.unset-btn{outline: none; border: none;resize: none; font: inherit;}

.fontsolo1{font-size: 7vmax; color: #1d1c20; font-family: Arial, Helvetica, sans-serif;font-weight: 700;}
.fontsolo2{font-size: 3vmax; font-family: Arial, Helvetica, sans-serif;font-weight: 300;}
.fontsolo25{font-size: 2.5vmax; font-family: Arial, Helvetica, sans-serif;font-weight: 300;}
.fontsolo3{font-size: 12pt; font-family: Arial, Helvetica, sans-serif;font-weight: 150;}

.lose-spacing{letter-spacing: -3pt;}
