body {
	padding-top: 19vh;
	padding-bottom: 19vh;
	height: 100%;
	background-color: #E1E0E0;
}
.block {
	display: block;
	position: relative;
	height: 100%;
	left: 50%;
}
div.content {
	display: table;
	height: 100%;
	width: 100%;
	 
}
div.content > .row {
	display: table-row;
	height: 20%;
	border-left: 1px;
}
div.content > .row > .cell {
	display: table-cell;
	width: 33.33%;
	border-left: 1px;
}
div.content > div.row > div.cell > p{
	font-size: 3em;
	margin-bottom: 5vh;
}
div.content > div.row > div.cell > p:hover, p:after{
	text-decoration: none;
	color: #1d1e20;
}
@media screen and (min-device-width: 1920px) and (min-device-height: 1000px){
	
}
@media screen and (device-width: 1280px) {
	
}
@media screen and (device-width: 1366px) {
	
}
@media screen and (min-device-width: 360px) and (max-device-width: 700px) {
	
}
@media screen and (device-width: 320px) {
	
}
@media screen and (device-width: 1024px) and (device-height: 1366px) {
	
}
@media screen and (min-device-width: 700px) and (max-device-width: 800px) {
	
}
@media screen and (device-width: 1024px){
	
}
@media screen and (device-width: 1440px) {
	
}