body {
	height: 100%;
    background-color: #e1e0e0;
    padding-bottom: 18vh;
}
.block {
	display: block;
	position: relative;
	height: 100%;
	left: 50%;
}
div.content {
	display: table;
	height: 100%;
	width: 100%;
}
div.content > .row {
	display: table-row;
    height: 20%;
}
div.content > .row > .cell {
	display: table-cell;
    width: 33.33%;
}
p.title {
    font-family: Simplexy;
    font-size: 5vh;
    color: #1d1e20;
    text-align: center;
    margin-bottom: 1vh;
}
div.row > div.cell > img {
    display: block;
    margin: auto;
    height: 33vh;
    margin-bottom: 5vh;
}
p.text {
    font-size: 3vh;
    text-align: center;
    color: #1d1e20;
    margin-bottom: 5vh;
}   
button.list {
    border: 0px;
    width: 100%;
    font-size: 3vh;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    border-radius: 30vh;
    color: #e1e0e0;
    background-color: #121221;
    outline: none;
}
button.list:hover {
    background-color: #e1e0e0;
    box-shadow: 1px 1px 10px 1px #121221;
    color: #121221;
}
div#navbar {
    display: inline-block;
    position: fixed;
    top: 31.5vh;
    left: 3vw;
    font-size: 5em;
}
li.button {
    line-height: 12vh;
    list-style-type: none;
}
ul, li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}
a.nav {
    padding-top: 10vh;
    height: 8vh;
    display: block;
}
#designer, #programmer, #manager {
    background-color: #121221;
    margin:1vw;
    border-radius: 12%;
}
#designer:hover, #programmer:hover, #manager:hover {
box-shadow: 1px 1px 10px 2px #366ce1;
cursor: crosshair;
}
.team, .proj{
    background-color: #366ce1;
    margin-top: 1vh;
}
.team:hover, .proj:hover {
    box-shadow: 0px 0px 12px 3px #121221 inset;
    cursor: pointer;
}
div.cell > div > img {
    height: 19vw;
    display: block;
    margin: auto;
    padding: 0.12vw;
}
li.button>a, li.button>a:visited, li.button>a:link {
    color: #1d1e20;
    text-decoration: none;
}
li.button>a:hover, li.button>a:active {
    color: #e1e0e0;
    text-decoration: none;     
}
.doc{
    width: 33.3vw;
    position: relative;
    margin: auto;
    cursor: help;
}
.docs {
    margin-top: 12vh;
}
@media screen and (min-device-width: 1920px) and (min-device-height: 1000px){
	body {
		padding-bottom: 18vh;
    }
    
}
@media screen and (device-width: 1280px) {

}
@media screen and (device-width: 1366px) {
	body {
		padding-bottom: 18vh;
	}
}
@media screen and (min-device-width: 360px) and (max-device-width: 700px) {
	body {
		padding-bottom: 18vh;
    }
    
}
@media screen and (device-width: 320px) {
	body {
		padding-bottom: 20vh;
	}
}
@media screen and (device-width: 1024px) and (device-height: 1366px) {
	body {
		padding-bottom: 18vh;
	}
}
@media screen and (min-device-width: 700px) and (max-device-width: 800px) {
	body {
		padding-bottom: 300px;
	}
}
@media screen and (device-width: 1024px) {
	body {
		padding-bottom: 140px;
	}
}
@media screen and (device-width: 1440px) {
	body {
		padding-bottom: 140px;
	}
}